
<link rel="stylesheet" 
      href="Site.css" />
      

<div class="container">
    <div class="header">
        <h2> Dziękujemy za skorzystanie z internetowej rejestracji</h2>
    </div>

    <div class="card col-md-8 col-sm-12 mb-4 ml-2 mr-2 p-0">
        <div class="row no-gutters">
            <div class="card border-0 col-md-6">
                <div class="card-body">
                    <p class="card-text">   Twoje zgłoszenie zostało wysłane poprawnie.</p>
                </div>

            </div>
        </div>
    </div>

    <button type="button" class="button button1">Powrót</button>

</div>


